
    body > header > figure > div > img{
            
            width: 10em;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: -2.5em;
            
    }

    .chat::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 0.2em rgba(0,0,0,0.3);
      box-shadow: inset 0 0 0.2em rgba(0,0,0,0.3);
      border-radius: 10em;
      background-color: rgb(255, 255, 255);
      
      margin-bottom: 3em;
      right: -2em;
    }

    .chat::-webkit-scrollbar
    {

      width: 0.7em;
      
    }

    .chat::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 0.3em rgba(0,0,0,.3);
      box-shadow: inset 0 0 0.15em rgba(0,0,0,.3);
      background-color: rgb(235,237,236);
    }

    header > time{

      display: inline;
      margin-left: 0.5em;
      color: rgb(153,153,153);
    
    }

    header > button{
      
      opacity: 0;
      top: 0.5em;
      right: 0.3em;
      position: absolute;
      outline: none;
        
    }
    

    header>button:focus{

        outline: black;
        margin-top: 0.1em;
        margin-right: 0.1em;
        position: absolute;
        opacity: 2;

    }


    .chat-message:hover header>button{

        opacity: 2;
        margin-top: 0.1em;
        margin-right: 0.1em;
        position: absolute;
        outline: none;
        background-color: rgb(235,237,236);
        border: none;

    }

    .chat-message:focus header>img{

        opacity: 2;
        margin-top: 0.5em;
        margin-right: 0.3em;

    }
    

    .chat-message:hover{

        background-color: rgb(235,237,236);

    }

    .chat-message:focus{

        background-color: rgb(235,237,236);
        outline: none;

    }

    .chat-message{

        border: 0.01em solid gray;

    }

    .close-message:focus{

        border: 0.01em solid black;

    }


    input{
 
        
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        height:3em;
        width: 5em;
        border: 0;

    }

    article > div{

      position: relative;
      margin-left: 0.8em;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      
      background-color: rgb(255, 255, 255);
      border-radius: 1em;
      max-width: 600px;
      width: fit-content;
      word-break: break-word;
      min-width: 31%;

    } 

    div > header > cite{

      display: inline;
      font-size: 150%;
      color: rgb(32,39,41);
      margin-left: 0.1em;

    }

    article > p{

      white-space:pre-line;
      color: rgb(97,97,97);
      margin-left: 0.5em; 
      font-size: 150%;
      margin-top: 0em;

    }

/* In case of over minimized device size */
@media screen and (min-width:320px){

  article > div{

    display: flex;
    flex-direction: column;

  }

  div > article{

      display: flex;
      flex-direction: row;
      flex:2;

  }

  .page-footer{

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;

  }

  .input{

    flex: 0.7;

  }

  .page {
    display: flex;
    flex-direction: column;
  }

  .flex-container-upper-header {
    flex: 0 0 auto;
  }

  section,main{

    flex: 9 1 auto;

  }

  nav{
      flex: 2 1 auto;
  }

  .flex-container-sidebar-and-chat {
      display: -webkit-flex;
      display: flex;
  }

  .flex-container-chat {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
  }

  .chat-top-footer{

    flex: 10;
    display: flex;
    flex-direction: row;
    
  }

  .flex-container-upper-header{

    display: flex;
    flex-direction: row;

  }

  .flex-container-upper-header > div{

    flex: 3.5;

  }

  .flex-container-upper-header > header{

    flex: 1;
  }

  .flex-container-upper-header > figure {

    flex:1;

  }


  .chat {

    flex: 110;

  }

  .message-count {
    flex: 1;
  }

  .user-count {

    flex: 1;
  }

  .img-count-number {

    flex-grow: 1;
  }

  form {
    flex-grow: 95;
    display: block;
  }

  h1{

    flex-grow: 99;
  }

  a{
    flex-grow: 1;
  }

  dl{

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    
  }

  dd{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  li{
    display: flex;
    flex-direction: row;
  }

  ol > li > figure > img {

    flex: 1;
  }

  li > figure{

    flex: 1;

  }

  
  li > article{

      flex: 30;
  }

  textarea {

    flex: 6;
  
  }

  article > form{

    display: flex;      
    flex-direction: column;

  }

  .modal-input-button{

    display: flex;
    flex-direction: row;  
    margin-top: 1.4em; 
  }

  .modal-input-name{

   display: flex;
   flex-direction: row;  

  }
  
  .modal-input-mail{

   display: flex;
   flex-direction: row;  

  }

  

  form > header{
    flex:1;
  }

  .flex-gap{
    flex:10;
  }

  

  .login-button{
    flex: 2.5; 
  }

  form {  
    display: flex;
  } 

  .Modal{
    width: 25em;
  }

}

/* In case of minimized mobile device size */
@media screen and (max-width:638px) and (min-width:320px){

    .modal-input-name {
        display: block;
        
    }

    .modal-input-mail {
      display: block;
    }

    .modal-text-box{
        margin-top: 0.8em;
    }


    .input-name , .input-mail{

      width: 50%;

    }

    .input-mail{
      margin-left: 0em;
    }

    section > label{

        display: block;

    }

    form > section{

      margin-top: 2em;

    }

    article > p{

      color: rgb(97,97,97);
      font-size: 110%;
      margin-top: 0.5em;
      margin-left: 0em;
    }


    nav{

      display: none;
      visibility: hidden;

    }

    input{
 
        flex: 0.7;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        height:2em;
        width: 5em;
        border: 0;

    }

    body > header > figure > div > img
    {

          width: 13em;
          margin-top: -1.6em;
          margin-left: -2.5em;
  
    }

    article > div{

        margin-right: 0.8em;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        display: flex;
        flex-direction: column;

    }

    div > header > cite{

        flex: 2;
        font-size: 100%;
        color: rgb(32,39,41);
        margin-left: 1%;
        margin-top: auto;
        margin-bottom: auto;
        
    }

    div > header{

        height: 1.2em;
        color: rgb(153,153,153);
        flex-direction: row;
        flex:1;

    }

    div > article{

      display: flex;
      flex-direction: row;
      flex:2;
      width: fit-content;
      word-break: break-word;

    }

    header > p{

      flex: 2.2;
      font-size: 70%;
      color: rgb(153,153,153);
      margin-top: auto;
      margin-bottom: auto;
    
    }


    article > div{

      margin-left: 0.8em;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      border-radius: 1em;
      max-width: 600px;
      width: fit-content;
      word-break: break-word;
      min-width: 58%;

    } 

    header > time{

      font-size: 70%;
    
    }

    .Modal{
      height: 90%;
    }
    
    .Modal-overlay{

      background-color: rgba( 0 , 0, 0, 0.5);
    }

    .modal-input-button{

      margin-top: 33.4em;
      margin-right: 2.55em; 
    }

}

/*In case of maximized width devices*/
@media screen and (min-width:639px){

  .Modal{
    max-height: 13em;
  }

  .Modal-overlay{
    background-color: rgba( 0 , 0, 0, 0.5);
  }

  .modal-input-mail > input{
    margin-left: 2.09em;  
  }

  .modal-input-mail , .modal-input-name{
    margin-top: 1.1em;

  }

  .modal-input-button{
    margin-right: 0.875em;
  }
    
  .close-button{
    flex: 5;
  }

}

article > div > header{

  position: relative;

}


html,
body,
.page {
    
    background-color: rgb(246, 246, 246);  /* #284b8e #e6e6e6 #d6d6c2 */
    height: 100%; /* needed for proper layout */
    margin:0px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;

}


p {
  margin-bottom: 1em;
}


.flex-container-upper-header {
  background-color: rgb(53, 55, 68); 
  height: 5em;
  border: 0.01em solid rgba(36, 44, 60, 0.28);
  
}


.page-footer {
  
  background-color: #ffffff;
  border: 0.01em solid #ffffff;
  height: 5.3%;
  width: 99.8%;
  overflow: hidden;

}


section,main{
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  overflow: hidden;

}




nav{
    background-color: rgb(97, 210, 144);  /* #284b8e #e6e6e6 #d6d6c2 */
    border: 0.01em solid rgba(36, 44, 60, 0.28);
    
    position: relative;/* need this to position inner content */
    overflow-y: auto;
    min-width: 15%;

}



.flex-container-sidebar-and-chat > h1{ /* show content only to screen readers */
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


.flex-container-chat {
    background-color: rgb(246, 246, 246);  /* #284b8e #e6e6e6 #d6d6c2 */
}


.chat-top-footer{
  background-color: rgb(246, 246, 246);  /* #284b8e #e6e6e6 #d6d6c2 */
  min-height: 5em;
  
}


.flex-container-upper-header > header{

  background: none; 
  border: none;

}


.chat {
  background-color: rgb(246, 246, 246);
  overflow-y: auto;
  margin-right: 1em;
  
}


.message-count {
  margin-right: 0.5em;
  margin-top: 1em;
  
  position:  right;
  height: 1.5em;
  width: 1.5em;

}


.user-count {
  margin-right: 0.5em;
  margin-top: 1em;
  
  position:  right;
  height: 1.5em;
  width: 1.5em;

}



.img-count-number {
  position:  right;
  height: 5%;
  width: 5%;

}


form {
  margin-left: 0em;
}



.textArea-bottom{
  
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;

}

@media screen and (max-height:884px) {

  .modal-input-button {
      margin-top: 10%;
      font-size: 0.7em;
      margin-right: 2.4em;
  }

  form > section > input{
    width: 20em;
  }



}

@media screen and (max-width:373px) {

  .modal-input-button {
      margin-top: 95%;
      font-size: 1em;
  }


}

/* In case of over maximized device size */
@media screen and (min-height:738px) and (min-width:441px){

  input{
  
    flex: 0.7;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    height:3.3em;
    width: 1em;
    border: 0;

  }
  

}



h1{ 
  margin-left: 1%;
  color: #140F0F;
  font-size: 180%;

}

a{
  position: relative;
}


textarea {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: none;
    width: 98%;
    height: 99%;
    overflow-x: hidden;

    overflow-y: auto;

    margin-left: auto;
    margin-right: auto;
    
    margin-left: 1%;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    color: rgb(97,97,97);
    max-height: 300px;
}

textarea:focus,input:focus{

    outline:none;
      
}

dt > span{
    display: none;
    visibility: hidden;
}


dl{
  
  margin-right: 1em;

}


dd{
  margin-left: 1em;
  margin-right: 1em;
}


li{
  margin-left: -3em;
  height: 2%;
  margin-top: 0.45em;

}

ol{
  margin-top: -1em;
}


ol > li > figure > img {

  height: 3em;
  width: 3em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10em;

}


 
li > article{    
    margin-left: -2.75em;
    overflow: hidden;

}

.Modal {
	border: 1px solid black;
	position: fixed;	
	top: 0;
	left: 0;	
	right: 0;
	bottom: 0;
	width: 80%;

  max-width: 30em;
  
	margin: auto;
	background-color: white;
	padding: 20px;
  box-shadow: 0 0 10px 0 black;
  background-color: rgb(249,249,249);

}


.modal-input-name , .modal-input-mail{
  margin-right: -7em;
  
}


form > header{

  margin-bottom: -1.5em;
  margin-top: -1.1em;

}

form > header > h1{
  color: rgb(41,41,41);
}

section > label{
  font-size: 140%;
  color: rgb(97,97,97);
}

section > input{

  font-size: 110%;
  font-weight: bold;
  border-radius: 0.35em;
  width: 3em;
  padding-left: 0.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-right: -1.72em;

}

section > header > h1{
  font-size: 200%;
}

.Modal-overlay {
  display: none;
	
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.Modal {
	display: none;
}

.modal-text-box{

  border: 0.01em solid rgb(215,215,215);
  border-radius: 0.6em;
  height: 1em;
  margin-left:0.1em;
  color: rgb(32,39,41)
}


.close-button{
  width: 16em;
  margin-right: 0.8em;
  height: 2.5em;

} 





.close-button{
 border:0.11em solid #b7b7b7; -webkit-border-radius: 0.1875em; -moz-border-radius: 0.1875em;border-radius: 0.1em;font-size:0.75em;font-family:arial, helvetica, sans-serif; padding: 0.6em 0.625em 0.66em 0.625em; text-decoration:none; display:inline-block;font-weight:bold; color: rgb(32,39,41);
 background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
 background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
 background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
 background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
 background-image: -o-linear-gradient(top, #d3d3d3, #707070);
 background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
 border: none;
}

.close-button:hover{
 border:0.0625em solid #a0a0a0;
 background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
 background-image: -webkit-linear-gradient(top, #bababa, #575757);
 background-image: -moz-linear-gradient(top, #bababa, #575757);
 background-image: -ms-linear-gradient(top, #bababa, #575757);
 background-image: -o-linear-gradient(top, #bababa, #575757);
 background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
 border: none;
}

.login-button {
  background: #42d934;
  background-image: -webkit-linear-gradient(top, #42d934, #0d8f1e);
  background-image: -moz-linear-gradient(top, #42d934, #0d8f1e);
  background-image: -ms-linear-gradient(top, #42d934, #0d8f1e);
  background-image: -o-linear-gradient(top, #42d934, #0d8f1e);
  background-image: linear-gradient(to bottom, #42d934, #0d8f1e);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0em;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.75em;
  text-decoration: none;
}

.login-button:hover {
  background: #bffc3c;
  background-image: -webkit-linear-gradient(top, #bffc3c, #3cd934);
  background-image: -moz-linear-gradient(top, #bffc3c, #3cd934);
  background-image: -ms-linear-gradient(top, #bffc3c, #3cd934);
  background-image: -o-linear-gradient(top, #bffc3c, #3cd934);
  background-image: linear-gradient(to bottom, #bffc3c, #3cd934);
  text-decoration: none;
}

